<h1>Currencies</h1>
<br>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>User</th>
      <th>Cost per</th>
      <th>Amount owned</th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <tr>
        <% if currency.user_id == current_user.id %>
          <% if currency.symbol %>
            <% currency.symbol == currency.symbol.upcase %><% end %>
            <% for x in @lookup_crypto %>
              <% if currency.symbol == x["symbol"] %>
                <td><%= link_to x["name"], currency %></td>
              <% end %>
            <% end %>

            <td><%= currency.symbol %></td>
            <td><%= currency.user_id %></td>
            <td><%= currency.cost_per %></td>
            <td><%= currency.amount_owned %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Currency', new_currency_path, class: "btn btn-default" %>
